In [ ]:
import pandas as pd

#ASSIGNMENT 1

TASK 1

In [ ]:
data={'Index':[1,2,3,4]
    ,'Name':['Paul','Riya','Jack','Bob']
      ,'Age':[10,11,12,13],
      'Gender':['M','F','M','M'],
      }
df= pd.DataFrame(data)

TASK 2

In [ ]:
df.columns=['Randomvalue 1','Randomvalue 2','Randomvalue 3','Randomvalue 4']

TASK 3

In [ ]:
df.info

<bound method DataFrame.info of    Randomvalue 1 Randomvalue 2  Randomvalue 3 Randomvalue 4
0              1          Paul             10             M
1              2          Riya             11             F
2              3          Jack             12             M
3              4           Bob             13             M>

In [ ]:
df.describe()

       Randomvalue 1  Randomvalue 3
count       4.000000       4.000000
mean        2.500000      11.500000
std         1.290994       1.290994
min         1.000000      10.000000
25%         1.750000      10.750000
50%         2.500000      11.500000
75%         3.250000      12.250000
max         4.000000      13.000000

TASK 4

In [ ]:
df.isnull().sum()

Randomvalue 1    0
Randomvalue 2    0
Randomvalue 3    0
Randomvalue 4    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Randomvalue 1  4 non-null      int64
 1   Randomvalue 2  4 non-null      object
 2   Randomvalue 3  4 non-null      int64
 3   Randomvalue 4  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

TASK 5

In [ ]:
df.loc[0:4,'Randomvalue 2':'Randomvalue 3']

  Randomvalue 2  Randomvalue 3
0          Paul             10
1          Riya             11
2          Jack             12
3           Bob             13

In [ ]:
df.iloc[0:4,1:3]

  Randomvalue 2  Randomvalue 3
0          Paul             10
1          Riya             11
2          Jack             12
3           Bob             13

#EXTRA QUESTIONS BY MAM

#Task 1

In [ ]:
data1={'Index':[1,2,3,4,5,6,7,8,9,10]
    ,'Name':['Paul','Riya','Jack','Bob','Alice','Hari','Om','Luis','Jay','Radha']
      ,'Age':[10,11,12,13,14,15,16,25,14,13],
      'Class':[10,10,9,12,8,7,6,5,7,8]
      ,'Gender':['M','F','M','M','F','M','M','M','M','F'],
      }
df1= pd.DataFrame(data)
df1

   Index  Name  Age Gender
0      1  Paul   10      M
1      2  Riya   11      F
2      3  Jack   12      M
3      4   Bob   13      M

#Task 2

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   4 non-null      int64
 1   Name    4 non-null      object
 2   Age     4 non-null      int64
 3   Gender  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

#TASK 3

In [ ]:
df1.describe()

          Index        Age
count  4.000000   4.000000
mean   2.500000  11.500000
std    1.290994   1.290994
min    1.000000  10.000000
25%    1.750000  10.750000
50%    2.500000  11.500000
75%    3.250000  12.250000
max    4.000000  13.000000

#Task 4

In [ ]:
df1.loc[3]

Index       4
Name      Bob
Age        13
Gender      M
Name: 3, dtype: object

#TASK 5

In [ ]:
df1.isnull()

   Index   Name    Age  Gender
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False
3  False  False  False   False